/Lexical Analyzer/nbproject/private/
/Lexical Analyzer/build/
/Lexer/nbproject/private/
/Lexer/build/
/Student/nbproject/private/
/Jeloquent/nbproject/private/
/Student/build/
/Observer/nbproject/private/
/Observer/build/
/Observer/dist/
/ProdJeloquent/nbproject/private/
/ProdJeloquent/build/
/ProdJeloquent/dist/
/LInk/nbproject/private/
/LInk/build/
/Hello/nbproject/private/
/Hello/build/
/Test/nbproject/private/
/TodoRCP/nbproject/private/
/TodoRCP/View/nbproject/private/
/Insanity/nbproject/private/
/Insanity/build/
/Insanity/dist/
/Cube/nbproject/private/
/Cube/build/